@font-face {
    font-family: 'CountdownFont';
    src: url('octin stencil rg.otf') format('opentype');
}
@font-face {
    font-family: 'TextFont';
    src: url('SecularOne-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #353535, #650808);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    text-align: center;
    color: white;
    padding: 5%;
    box-sizing: border-box;
}

.countdown {
    text-align: center;
    font-family: 'CountdownFont';
    background: #171717;
    color: white;
    padding: 5%;
    border-radius: 10px;
    box-sizing: border-box;
}

.countdown span {
    display: inline;
    margin: 0 2%;
}

.heading {
    direction: rtl;
    font-family: 'TextFont';
    margin-bottom: 5%;
    line-height: 1.2;
}

@media (max-width: 600px) {
    .countdown {
        font-size: 10vw;
        padding: 5%;
    }

    .heading {
        font-size: 6vw;
        margin-bottom: 5%;
    }

    .countdown span {
        display: block;
        margin: 0;
    }

    .countdown span:before {
        content: attr(data-label);
        display: inline;
        margin-left: 5px;
    }
}

@media (max-width: 400px) {
    .countdown {
        font-size: 12vw;
        padding: 5%;
    }

    .heading {
        font-size: 8vw;
        margin-bottom: 4%;
    }

    .countdown span:before {
        font-size: 4vw;
    }
}

@media (min-width: 601px) {
    body {
        font-family: 'TextFont', sans-serif;
    }

    .countdown {
        font-size: 5rem;
        padding: 20px;
    }

    .heading {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .countdown span {
        margin: 0 10px;
    }
}
